<h1><%= @place["name"] %></h1>

<% if @entries %>
<h2>My Entries</h2>

<div class="row">
  <% for entry in @entries %>
  
  <div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="card-body m-2">
      <h3 class="card-title"><%= entry["title"] %></h3>
      <h4 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h4>
      <p class="card-text p-1"><%= entry["description"] %></p>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<% if @user %>
<p>
  <a class="btn btn-primary" href="/entries/new?place_id=<%= @place["id"] %>" role="button">New Entry</a>

</p>
<% else %>
  
<% end %>

<p>
  <a class="btn btn-primary" href="/places" role="button">Back to All Places</a>

</p>